/* src/components/UserMenu/UserMenu.module.css */
.userMenu {
  display: flex;
  gap: 12px;
  align-items: center;
}
.text {
  color: white;
}
.button {
  background-color: #ff6b6b;
  border: none;
  padding: 6px 12px;
  color: white;
  cursor: pointer;
}
